.btn{
	padding: 10px 30px;
	border-radius: 0;
	
	> img,
	.fa{
		margin-top: -4px;
		margin-right: 5px;
	}
	@include transition(.3s);

	.fa{
		margin-right: 5px;
	}
	&--primary{
		background-color: $red;
		color: $white;
		
		&:hover,
		&:focus,
		&:active{
			background-color: lighten($red,10%);
			color: $white;

			@include transition(.3s);
		}
	}

	&--action-negative{
		background-color: $greyLighter;
		color: $grey;
		
		&:hover,
		&:focus,
		&:active{
			background-color: lighten($greyLighter,5%);
			color: $grey!important;

			@include transition(.3s);
		}
	}

	

	&--transparent{
		background-color: transparent;
		color: $white;
		
		&:hover,
		&:focus,
		&:active{
			background-color: lighten($black,20%);
			color: $white;

			@include transition(.3s);
		}
	}
	
	&[disabled]{
		background-color: $grey;
		color: $white;
		
		&:hover{
			background-color: $grey;
			color: $white;

			@include transition(.3s);
		}
	}

	&--small{
		font-size: $font-size-small;
		padding: 4px 10px;
	}

	&--smaller{
		font-size: $font-size-small;
		padding: 4px;
	}

	&--block{
		display: block;
		width: 100%;
	}
}