$greyLight: #D4D4D4;
$greyDark: #292929;

$yellow: #F7DD2B;
$yellowLight: #FFFF29;

$darkLight: #3D3F43;


$redDark: #CD3A1D;
$maroon: #9C0000;



$blue: #495b79;
$blueDark: #384760;

$skyblue: #0088AF;
$skyblueDark: #007394;

//USED IN LOGIN
$darkLight2: #424243;
$darkLight2Dark: #252525;
$darkLighter2: #858585;
$dirtyWhite: #DADADA;

$darkLight3: #363637;

//PROJECTFACTOR

$black: #000;

$dark: #2e2c2a;

$white: #FFFFFF;

$red: #c7062f;

$grey: #8c8c8c;
$greyLighter: #d7d7d7;