.custom-upload{
	width: 100%;
	&-container{
		.btn{
		  	width: 65%;
		  	margin: 0!important;
		    padding: 10px 15px;
			border: 1px solid $greyLight!important;
			min-height: 40px;
			overflow: hidden;
			text-align: left;
			color: $grey;

			&:hover,
			&:focus{
				background-color: transparent;
				color: $grey!important;
			}

			img{
				margin: 0;
			}

			&.storeimage{

			}

		}

		.filename{
			width: 184px;
			overflow: hidden;
			display: inline-block;
			text-overflow: ellipsis;
		}
	}

	&.storeimage{
		> label{
			margin-right: 7px!important;
		}
		&-container{
			.btn{
			    width: 63%;
			}
		}
	}
	
}