<div class="banner-container">
	<img src="./img/banner.png" alt="Project-Factor-Banner">
	<div class="info">
		<div class="info__profile-picture">
			<img src="./img/profile-picture.png" alt="Project-Factor-Profile-Picture">
		</div>
		<div class="info__details">
			<div class="info__details__name">
				<h3>Typo</h4>
			</div>
			<div class="info__details__type">
				<h5>Products/Services</h5>
			</div>
		</div>
	</div>
</div>

<div class="branch-management dashboard">
	<div class="container-fluid">
		<button type="button" class="btn btn--primary pull-right btn-action" ng-click="open('addPostView.html','AddPostController','lg')">
			<img src="./img/pencil.png" alt="Project-Factor-Button-Icon">
			Add Post
		</button>

		<div class="branch-management-container">
			<h2 class="page-title">Branch Listing</h2>
			
			<table class="table table-bordered table-action">
				<thead>
					<tr>
						<th>
							<input type="checkbox" ng-model="check_all" class="custom-checkbox" id="all_branch" ng-change="checkAll(check_all)"/>
							<label for="all_branch"><span></span></label>
						</th>
						<th>Store Name</th>
						<th>Address</th>
						<th>Store Hours</th>
						<th>Business Type</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="place in places track by $index">
						<td>
							<input type="checkbox" ng-model="place.isSelected" class="custom-checkbox" id="{{place.id}}" ng-change="addToDelete(place)"/>
							<label for="{{place.id}}"><span></span></label>
						</td>
						<td>{{place.name}}</td>
						<td>{{place.address}}</td>
						<td>{{place.storehours.displayTime}}</td>
						<td>{{place.businesstype}}</td>
					</tr>
					<tr ng-if="places.length == 0">
						<td colspan="5">
							No data available
						</td>
					</tr>
				</tbody>
			</table>

			<button class="btn btn--primary" type="button" ng-click="open('addBranchView.html','AddBranchController','lg')">
				<i class="fa fa-plus"></i>
				Add
			</button>
			<button class="btn btn--action-negative" type="button" ng-click="open('deleteBranchView.html','DeleteBranchController','sm')">
				<i class="fa fa-trash-o"></i>
				Delete
			</button>
		</div>
	</div>
</div>


<script type="text/ng-template" id="addPostView.html">
	<div class="modal-header">
	    <h4 class="modal-title pull-left">Add Post</h4>
	    <span class='glyphicon glyphicon-remove pull-right' ng-click="cancel()"></span>
	</div>
	<div class="modal-body">
	    <div class="container-fluid">
			<div class="row">
				<div class="col-xs-12">
					<div class="form-group">
						<label for="post">Write your post</label>
						<textarea name="post" id="post" cols="30" rows="10" class="form-control"></textarea>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-6">
					<div class="form-inline">
					  <div class="form-group custom-upload">
					    <label>Choose a photo</label>
					    <span class="custom-upload-container">
					    	<label for="photoupload" class="btn  btn--transparent">
					    	<span ng-if="!fileName">Upload Image</span>
					    	<span ng-if="fileName" class="filename">{{fileName}}</span>
							<img src="./img/folder.png" alt="Project-Factor-Upload-Icon" class="pull-right"/>
					    	</label>
					    	<input type="file" class="form-control hidden" id="photoupload" file-upload file-name="fileName">
					    </span>
					  </div>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="form-inline">
					  <div class="form-group select-checkbox">
					    <label>Select branch/es</label>
					    <div class="select-checkbox-group">
							<button type="button" class="btn btn--transparent select-checkbox-group__btn" ng-click="showDrop()">
								<span ng-if="poolArray.length == 0">Select Branch</span>
								<span ng-if="poolArray.length == 1"> {{poolArray[0].name}}</span>
								<span ng-if="poolArray.length > 1">{{poolArray.length}} branches selected</span>
							</button>
						   	<div class="select-checkbox-group__list-container" ng-show="isShow">
						   		<ul class="list-unstyled">
						   			<li ng-repeat="place in places">
						   				<input type="checkbox" class="custom-checkbox" id="{{place.id}}" ng-class="{'checked' : poolArray.indexOf(place) != -1}"/>
										<label for="{{place.id}}" ng-click="addtoPool(place)"><span></span>{{place.name}}</label>
						   			</li>
						   		</ul>
						   	</div>
					    </div>
					  </div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
	    <button class="btn btn--primary action" type="button" ng-click="ok()">Post</button>
	</div>
</script>

<script type="text/ng-template" id="addBranchView.html">
	<div class="modal-header">
	    <h4 class="modal-title pull-left">Add Branch</h4>
	    <span class='glyphicon glyphicon-remove pull-right' ng-click="cancel()"></span>
	</div>
	<div class="modal-body">
	    <div class="container-fluid">
			<div class="row">
				<div class="col-xs-6">
					<div class="form-group">
						<label for="branchcode">Branch Code</label>
						<input type="text" class="form-control" id="branchcode" ng-model="newBranch.id"/>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="form-group">
						<label for="storename">Store Name</label>
						<input type="text" class="form-control" id="storename" ng-model="newBranch.name"/>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div class="form-group">
						<label for="address">Address</label>
						<input type="text" class="form-control" id="address" ng-model="newBranch.address"/>
					</div>
				</div>
			</div>

			<div class="row row-5">
				<div class="col-xs-6">
					<div class="row">
						<div class="col-xs-8">
							<div class="form-group">
								<label for="contact">Contact Details</label>
								<input type="text" class="form-control" id="contact" ng-model="newBranch.contact"/>
							</div>
						</div>
						<div class="col-xs-4">
							<div class="form-group">
								<label>Store Hours</label>
								<select class="form-control" ng-model="newBranch.storehours.open">
									<option value>AM</option>
									<option value="01:00">01:00</option>
									<option value="02:00">02:00</option>
									<option value="03:00">03:00</option>
									<option value="04:00">04:00</option>
									<option value="05:00">05:00</option>
									<option value="06:00">06:00</option>
									<option value="07:00">07:00</option>
									<option value="08:00">08:00</option>
									<option value="09:00">09:00</option>
									<option value="10:00">10:00</option>
									<option value="11:00">11:00</option>
									<option value="12:00">12:00</option>
								</select>
							</div>
						</div>
					</div>
				</div>
				<span class="row-5__divider-text">to</span>
				<div class="col-xs-6">
					<div class="row">
						<div class="col-xs-4">
							<div class="form-group">
								<label>&nbsp;</label>
								<select class="form-control" ng-model="newBranch.storehours.close">
									<option value>PM</option>
									<option value="13:00">01:00</option>
									<option value="14:00">02:00</option>
									<option value="15:00">03:00</option>
									<option value="16:00">04:00</option>
									<option value="17:00">05:00</option>
									<option value="18:00">06:00</option>
									<option value="19:00">07:00</option>
									<option value="20:00">08:00</option>
									<option value="21:00">09:00</option>
									<option value="22:00">10:00</option>
									<option value="23:00">11:00</option>
									<option value="24:00">12:00</option>
								</select>
							</div>
						</div>
						<div class="col-xs-8">
							<div class="form-group">
								<label for="category">Business Category</label>
								<select class='form-control' ng-model="newBranch.businesstype">
									<option value>Choose a category</option>
									<option value="Products/Services">Products/Services</option>
									<option value="IT Software">IT Software</option>
									<option value="Merchandise">Merchandise</option>
								</select>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-6">
					<div class="form-inline">
					  <div class="form-group custom-upload storeimage">
					    <label>Choose store image</label>
					    <span class="custom-upload-container">
					    	<label for="photoupload" class="btn  btn--transparent ">
					    	<span ng-if="!fileName">Upload Image</span>
					    	<span ng-if="fileName" class="filename">{{fileName}}</span>
							<img src="./img/folder.png" alt="Project-Factor-Upload-Icon" class="pull-right"/>
					    	</label>
					    	<input type="file" class="form-control hidden" id="photoupload" file-upload file-name="fileName">
					    </span>
					  </div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
	    <button class="btn btn--primary action" type="button" ng-click="ok()">Add</button>
	</div>
</script>

<script type="text/ng-template" id="deleteBranchView.html">
	<div class="modal-header modal-header--transparent">
	    <span class='glyphicon glyphicon-remove pull-right text-red' ng-click="cancel()"></span>
	</div>
	<div class="modal-body">
	    <div class="container-fluid container-fluid--small text-center">
			<h4 class="page-title"><strong>Delete Branch</strong></h4>
			<p class="text-red">All information of the selected branch&#47;branches will be deleted.</p>

			<p class="text-grey">Are you sure you want to delete&#63;</p>
		</div>
	</div>
	<div class="modal-footer">
	    <button class="btn btn--primary action" type="button" ng-click="ok()">Delete</button>
	</div>
</script>