.body{
	&-login{
		background: url('../../img/login_bg.png') no-repeat;
		background-size: cover;
		padding-bottom: 95px;
	}
}
.container-factory{
	width: 960px;
	margin: 0 auto;
}
.space-top{
	margin-top: 30px;
}

.page-title{
	margin-bottom: 40px;
	color: $red;
}

.text-red{
	color: $red;
}
.text-grey{
	color: $grey;
}
// 5 column Bootstrap
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-15 {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}

.row{
	&-5{
		position: relative;

		&__divider-text{
			position: absolute;
			margin-left: -6px;
			top: 40%;
		}
	}
}