<div class="login-logo container-factory">
	<h1>
		<span class="white">Project</span>
		<span class="red">factor</span>
	</h1>
</div>
<div class="login-container login-container--signup">
	<div class="container-factory">
		<div class="row">
			<div class="col-xs-12">
				<div class="login-container__form login-container__form--signup">
					<form action="">
						<div class="row">
							<div class="col-sm-6">
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Username">
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Company Name">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Company Address">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6">
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Contact Number">
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<input type="email" class="form-control" placeholder="Email">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6">
								<div class="form-group">
									<input type="password" class="form-control" placeholder="Password">
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<input type="password" class="form-control" placeholder="Confirm Password">
								</div>
							</div>
						</div>
						<p class='login-container__form__info space-top'>
							By signing up, you have already agreed to our <a href="#/signup" class="link"><u>Terms of Service</u></a> and <a href="#/signup" class="link"><u>Privacy Policy</u></a>
						</p>
						<input type="submit" class="btn btn--block btn--primary space-top" value="Sign Up">
						<p class='login-container__form__info space-top'>Have an account? <a class="link" ui-sref="/">Login</a></p>
					</form>
				</div>
			</div>
		</div>
	</div>
	
</div>